body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

.quiz-container {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 500px;
    width: 100%;
}

h1 {
    margin: 0 0 20px;
}

#score {
    margin-bottom: 20px;
    font-size: 1.2em;
}

#question {
    font-size: 1.2em;
    margin-bottom: 10px;
}

#options{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
}

.option{
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.option:hover{
    background-color: #f0f0f0;
}

#next-button{
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 5.3s;
}

#next-button:hover{
    background-color: #0056b3;
}

#results-container{
    display: none;
}